noremap <Up> <Nop>
noremap <Down> <Nop>
noremap <Left> <Nop>
noremap <Right> <Nop>
nnoremap <silent> [b :bprevious<CR>
nnoremap <silent> ]b :bnext<CR>
nnoremap <silent> [B :bfirst<CR>
nnoremap <silent> ]B :blast<CR>
nnoremap <leader>l :set list!<CR>           " Shortcut to rapidly toggle `set list`
nnoremap <F3> :set hlsearch!<CR>

set nocompatible
syntax on
set mouse=a
set ruler
set number
set numberwidth=2
set wrap
" set showmatch                                  " Curseur sur le ({[ parent
set matchtime=5                                " temps en 1/10s de showmtch
set ts=4 sts=4 sw=4 noexpandtab
filetype plugin indent on

"set listchars=tab:▸\ ,eol:¬                    " symboles de :set list
set listchars=nbsp:¤,tab:>-,trail:¤,extends:>,precedes:<
"Invisible character colors 
highlight NonText guifg=#4a4a59
highlight SpecialKey guifg=#4a4a59

" keep the split window open if you delete the buffer
nnoremap ,d :b#<bar>bd#<CR>	

"Invisible character colors 
highlight NonText guifg=#4a4a59
highlight SpecialKey guifg=#4a4a59

" Pathogen PlugIn Manager
execute pathogen#infect()

" Airline
let g:airline#extensions#tabline#enabled = 1
set laststatus=2
