set nocompatible
set number
set mouse=a
set ruler
" set colorcolumn=80
set ts=4 sts=4 sw=4 noexpandtab
set numberwidth=2
set wrap
" set showmatch                                  " Curseur sur le ({[ parent
set matchtime=5                                " temps en 1/10s de showmtch 

" Shortcuts 
nnoremap <leader>l :set list!<CR>
nnoremap <silent> [b :bprevious<CR>
nnoremap <silent> ]b :bnext<CR>
nnoremap <silent> [B :bfirst<CR>
nnoremap <silent> ]B :blast<CR>

" keep the split window open if you delete the buffer
nnoremap ,d :b#<bar>bd#<CR>	

nnoremap <F3> :set hlsearch!<CR>

"set listchars=tab:▸\ ,eol:¬                    " symboles de :set list
set listchars=nbsp:¤,tab:>-,trail:¤,extends:>,precedes:<
" set list

"Invisible character colors 
highlight NonText guifg=#4a4a59
highlight SpecialKey guifg=#4a4a59

" set the runtime path to include Vundle and initialize

set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()

" " alternatively, pass a path where Vundle should install plugins
" "call vundle#begin('~/some/path/here')

" let Vundle manage Vundle, required

Plugin 'gmarik/Vundle.vim'

Plugin 'bling/vim-airline'
let g:airline#extensions#tabline#enabled = 1

call vundle#end() 
filetype plugin indent on

" execute pathogen#infect()
" filetype plugin indent on
filetype off

" Enable syntax highlighting
syntax on
" colorscheme wombat256mod
